.root {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
	padding: 0 10vw;
	margin-top: 4rem;
}

.container {
	padding-top: 4rem;
	justify-content: center;
}

.heading {
	align-self: flex-start;
}

.person {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.name {
	font-size: 1.5rem;
	font-weight: 800;
}

.position {
	font-size: 1.2rem;
}

.image__block {
	width: 20vw;
}

.image {
	width: 100%;
	border-radius: 50%;
}

@media screen and (max-width: 900px) {
	.image__block {
		width: 10rem;
	}

	.container {
		padding-top: 2vh;
	}
}

@media screen and (max-width: 500px) {
	.name {
		font-size: 1.2rem;
	}
}